table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.containerTable{
  display: flex;
  padding-left: 40px;
  padding-right: 60px;
}

.mat-elevation-z8{
  text-align: center;
}
