<h1 mat-dialog-title>Add Concourses Form</h1>
<div mat-dialog-content>
  <form [formGroup]="concourseForm">
    <mat-form-field appearance="outline">
      <mat-label>Concourse Id</mat-label>
      <input formControlName="Id" matInput placeholder="Id">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Message Id</mat-label>
      <input formControlName="messageid" matInput placeholder="messageid">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Station Identification Code</mat-label>
      <input formControlName="stationidenficationcode" matInput placeholder="stationidenficationcode">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Station Name</mat-label>
      <input formControlName="stationname" matInput placeholder="stationname">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Departures</mat-label>
      <input formControlName="Departures" matInput placeholder="Departures">
    </mat-form-field>
    <div>
      <mat-label for="frt-time">First Row Time </mat-label>
      <input formControlName="FirstRowTime" id="frt-time" type="time" name="frt-time" step="2" style="width: 100%;"/>
    </div>
    &nbsp;
    <div>
      <mat-label for="frtC-time">First Row Time C</mat-label>
      <input formControlName="FirstRowTimeC" id="frtC-time" type="time" name="frtC-time" style="width: 100%;"/>
    </div>
    &nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Ftt Destination Number</mat-label>
      <input formControlName="fttdestinationnumber" matInput placeholder="fttdestinationnumber">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ftt Destination Name</mat-label>
      <input formControlName="fttdestinatinationname" matInput placeholder="fttdestinatinationname">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ftt Platform No</mat-label>
      <input formControlName="fttplatformno" matInput placeholder="fttplatformno">
    </mat-form-field>
    <div>
      <mat-label for="srt-time">Second Row Time </mat-label>
      <input formControlName="SecRowTime" id="srt-time" type="time" name="srt-time" step="2" style="width: 100%;"/>
    </div>
    &nbsp;
    <div>
      <mat-label for="srtC-time">Second Row Time C</mat-label>
      <input formControlName="SecRowTimeC" id="srtC-time" type="time" name="srtC-time" style="width: 100%;"/>
    </div>
    &nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Stt Destination No</mat-label>
      <input formControlName="sttdestinationnumber" matInput placeholder="sttdestinationnumber">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Stt Destination Name</mat-label>
      <input formControlName="sttdestinationname" matInput placeholder="sttdestinationname">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Stt Platform No</mat-label>
      <input formControlName="sttplatformno" matInput placeholder="sttplatformno">
    </mat-form-field>
    <div>
      <mat-label for="trt-time">Third Row Time </mat-label>
      <input formControlName="ThirRowTime" id="trt-time" type="time" name="trt-time" step="2" style="width: 100%;"/>
    </div>
    &nbsp;
    <div>
      <mat-label for="trtC-time">Third Row Time C</mat-label>
      <input formControlName="ThirRowTimeC" id="trtC-time" type="time" name="trtC-time" style="width: 100%;"/>
    </div>
    &nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Ttt Destination No</mat-label>
      <input formControlName="tttdestinationnumber" matInput placeholder="tttdestinationnumber">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ttt Platform No</mat-label>
      <input formControlName="tttplatformnumber" matInput placeholder="tttplatformnumber">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ttt Destination Name</mat-label>
      <input formControlName="tttdestinationname" matInput placeholder="tttdestinationname">
    </mat-form-field>
    <div>
      <mat-label for="rdt-time">Record Date Time</mat-label>
      <br>
      <input formControlName="RecDatetime" type="datetime-local" id="exampleInput" name="input" ng-model="example.value"
      placeholder="yyyy-MM-ddTHH:mm:ss" min="1930-01-01T00:00:00" max="2040-12-31T00:00:00" style="width: 100%;" />
    </div>
    &nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Flip Language</mat-label>
      <input formControlName="FlipLanguage" matInput placeholder="FlipLanguage">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Flip Language 2</mat-label>
      <input formControlName="FlipLanguage2" matInput placeholder="FlipLanguage2">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="addConcourse()" style="margin-left: 8px;">{{ actionBtn }}</button>
</div>
